<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<body>

<div class="container">
<div class="row">
<div class="col-sm-6">
  <img src= {{ image_url }} height="400" width="325">
</div>
<div class="col-sm-6">
  <h1> {{ item_name }} </h1>
  <h2> {{ item_price }} </h2>
  <h3> Seller: {{ seller_username }} </h3>
  <h3> Type: {{ item_type }} Size: {{ item_size }} </h3>
  <p> {{ description }} </p>

</div>
</div>
</div>

</body>
