{% extends 'base.html' %}
<!-- this page will render even when users are logged in. -->
{% block content %}
<!-- messages tell us if it failed or passed -->
{% if message %}
<!-- status - generally what happened (can be positive or negative)-->
<h4>{{ message.status_message }}</h4>
<!-- if our message also has fields based on the attributes, those are LISTS of the errors for each field -->
{% if message.item_name %}
<h4> Item Name Errors: </h4>
{% for error in message.item_name %}
  {{ error }}
{% endfor %}
{% endif %}
{% if message.item_price %}
<h3> Item Price Errors: </h3>
{% for error in message.item_price %}
  {{ error }}
{% endfor %}
{% endif %}
{% if message.brand %}
<h3> Brand Errors: </h3>
{% for error in message.brand %}
  {{ error }}
{% endfor %}
{% endif %}
{% if message.description %}
<h3> Description Errors: </h3>
{% for error in message.description %}
  {{ error }}
{% endfor %}
{% endif %}
{% if message.image_url %}
<h3> Image URL Errors: </h3>
{% for error in message.image_url %}
  {{ error }}
{% endfor %}
{% endif %}
{% if message.item_size %}
<h3> Item Size Errors: </h3>
{% for error in message.item_size %}
  {{ error }}
{% endfor %}
{% endif %}
{% if message.item_type %}
<h3> Item Type Errors: </h3>
{% for error in message.item_type %}
  {{ error }}
{% endfor %}
{% endif %}
{% endif %}
<div class="row">
<div class="center-block" style="width:200px">
<h2>Sell New Item</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Post Listing</button>
</form>
</div>
</div>
{% endblock %}
